{% extends 'index.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <marquee><h1>welcome to sait</h1></marquee>
    <h2>hello</h2>
    <h3>thank you</h3> 
<img src="https://th.bing.com/th/id/OIP.So4l2emDpPInq3Cb2lWddgHaE8?w=276&h=184&c=7&r=0&o=7&pid=1.7&rm=3"><br>
<img src="https://th.bing.com/th/id/OIP.nJtGGyzQ-KWhpa1aNyy7NAHaFm?w=243&h=184&c=7&r=0&o=7&pid=1.7&rm=3">
<img src="OIP.webp"><br>
<img src="pets.jpg" height="300px" width="300px">
    <a href="https://youtu.be/KSX4cwWRzis?si=wGH7T3Wjk376xRS_">youtube<</a>
    <pre>Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are!

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.
Twinkle, twinkle, little star,
How I wonder what you are!

Then the traveller in the dark,
Thanks you for your tiny spark,
He could not see which way to go,
If you did not twinkle so.
Twinkle, twinkle, little star,
How I wonder what you are!

In the dark blue sky you keep,
And often through my curtains peep,
For you never shut your eye,
Till the sun is in the sky.
Twinkle, twinkle, little star,
How I wonder what you are!</pre>
</body>
{% endblock %}
