{% extends 'index.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <center>
        <h1>press the button</h1>
        <button style="color:green"type="submit" name="state" value="1">led on</button>
         <button style="color:red"type="submit" name="state" value="0">led off</button>
         </center>
    </form>
</body>
{% endblock %}